.tp {
    &-instagram-icon-2 {
        a {
            width: 100%;
            height: auto;
            padding: 16px 20px;
            line-height: initial;
        }
    }

    &-header {
        &-sticky {
            &.header-main {
                position: initial !important;
                margin: auto;
                width: 100%;
                box-shadow: 0 2px 6px rgba(1, 15, 28, 0.16);
                background: var(--tp-common-white);
            }

            &.header-sticky {
                position: fixed !important;
            }
        }
    }

    @media (min-width: 768px) {
        &-header-transparent {
            top: 40px;
        }
    }

    &-header-style-transparent-white {
        .tp-header-action-btn {
            color: #fff;
        }
    }
}
